node_modules/
dist
build
coverage
.DS_Store
*.log
*.lock
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.swp
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
*.gz    
*.zip
*.tar
*.rar
*.7z
*.log
*.sql
*.sqlite
*.sqlite3
*.env
*.env.local